.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.contacts__link, .nav__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
}

.clients__title, .team__title, .activities__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .clients__title, .team__title, .activities__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.1666666667;
  }
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", "Segoe UI", sans-serif;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #ffffff;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--inverse {
  padding-top: 0;
}

.button {
  font-family: inherit;
  font-size: 16px;
  letter-spacing: inherit;
  text-align: center;
  color: #212121;
  background-color: #f5f4fa;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.logo {
  font-family: "Raleway", "Helvetica", "Arial", "Segoe UI", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923076923;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 768px) {
  .header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.header__logo--inverse {
  color: #000000;
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__list {
    margin-left: 93px;
  }
}
@media screen and (min-width: 768px) {
  .nav__item + .nav__item {
    margin-left: 50px;
  }
}

.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}
@media screen and (max-width: 1199.98px) {
  .contacts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 138px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__item + .contacts__item {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item + .contacts__item {
    margin-top: 0;
    margin-left: 50px;
  }
}
.contacts__icon {
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .contacts__icon {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__icon {
    margin-right: 10px;
  }
}

.nav__link {
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.contacts__link {
  color: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199.98px) {
  .contacts__link {
    font-size: 12px;
    line-height: 1.1666666667;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

.nav__link--current {
  position: relative;
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .nav__link--current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
    border-radius: 2px;
    background-color: #2196f3;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-mobile@1x.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile@1x.jpg");
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-mobile@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile@2x.jpg");
  }
}
@media screen and (min-width: 481px) {
  .hero {
    max-width: 768px;
    height: 459px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-tablet@1x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet@1x.jpg");
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-tablet@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet@2x.jpg");
  }
}
@media screen and (min-width: 769px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-desktop@1x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desktop@1x.jpg");
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-desktop@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desktop@2x.jpg");
  }
}
.hero__title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

.hero-button {
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767.98px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 120px) / 4);
  }
}

.item-features__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}
.item-features__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.1428571429;
  color: #212121;
}
@media screen and (max-width: 767.98px) {
  .item-features__title {
    text-align: center;
  }
}
.item-features__text {
  font-size: 14px;
  line-height: 1.7142857143;
}

@media screen and (max-width: 1199.98px) {
  .activities {
    display: none;
  }
}
.activities__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -15px;
}
.activities__item {
  position: relative;
  width: calc((100% - 90px) / 3);
  margin: 15px;
}

.item-activities__meta {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
}
.item-activities__title {
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 1199.98px) {
  .team {
    background-color: #f5f4fa;
  }
}
@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767.98px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 120px) / 4);
  }
}

.item-team__meta {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .item-team__meta {
    padding-bottom: 30px;
  }
}
.item-team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  color: #212121;
}
.item-team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.1875;
}

.soc-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.soc-team__item + .soc-team__item {
  margin-left: 10px;
}
.soc-team__icon {
  fill: currentColor;
}

.soc-team__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #afb1b8;
  background-color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-team__link:hover, .soc-team__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.clients__item {
  width: calc((100% - 60px) / 2);
  margin: 15px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 180px) / 6);
  }
}

.item-clients__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 92px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  background-color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-clients__link:hover, .item-clients__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.item-clients__icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
@media screen and (min-width: 768px) {
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 28px;
}
@media screen and (max-width: 1199.98px) {
  .footer__logo {
    text-align: center;
  }
}
.footer__logo--inverse {
  color: #ffffff;
}

@media screen and (max-width: 1199.98px) {
  .address__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.address__item {
  width: 232px;
}
@media screen and (max-width: 1199.98px) {
  .address__item {
    text-align: center;
  }
}
.address__item:not(:last-child) {
  margin-bottom: 12px;
}

.address__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.1428571429;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link--inverse {
  color: #ffffff;
}
.address__link:hover, .address__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 1199.98px) {
  .join {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 767.98px) {
  .join {
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .join {
    padding-top: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .join {
    margin-left: 70px;
    padding-top: 12px;
  }
}
.join__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.soc-join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.soc-join__item + .soc-join__item {
  margin-left: 10px;
}
.soc-join__icon {
  fill: currentColor;
}

.soc-join__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-join__link:hover, .soc-join__link:focus {
  background-color: #2196f3;
}

.button-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  row-gap: 7.5px;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .button-set {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .button-set {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767.98px) {
  .button-set::before {
    content: "";
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (max-width: 767.98px) {
  .button-set__item:nth-child(n+4) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.portfolio-button {
  min-width: 67px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  font-weight: 500;
  line-height: 1.625;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button:hover, .portfolio-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  border-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-button--current {
  color: #ffffff;
  background-color: #2196f3;
  border-color: #2196f3;
}

@media screen and (min-width: 768px) {
  .portfolio__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767.98px) {
  .portfolio__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    width: calc((100% - 90px) / 3);
  }
}

.item-portfolio__link {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-portfolio__link:hover, .item-portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.item-portfolio__wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.item-portfolio__desc {
  padding: 24px;
  font-size: 18px;
  line-height: 1.5555555556;
  color: #ffffff;
}
.item-portfolio__meta {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
@media screen and (min-width: 480px) {
  .item-portfolio__meta {
    height: 110px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .item-portfolio__meta {
    height: 146px;
  }
}
.item-portfolio__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.item-portfolio__text {
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
}

.item-portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
}
.item-portfolio__link:hover .item-portfolio__overlay, .item-portfolio__link:focus .item-portfolio__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow-y: scroll;
}
.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 960px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (max-width: 1199.98px) {
  .modal {
    max-width: 450px;
    width: 100%;
    min-height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    width: 100%;
    min-height: 581px;
  }
}
.backdrop--hidden .modal {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
@media screen and (min-width: 960px) {
  .backdrop--hidden .modal {
    -webkit-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
  }
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  color: #000000;
  background-color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover, .modal-button:focus {
  color: #2196f3;
}
.modal-button__icon {
  fill: currentColor;
}

.user-data {
  display: block;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .user-data {
    width: 448px;
  }
}
.user-data__text {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .user-data {
    line-height: 1.15;
  }
}

.form-modal__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.form-modal__field + .form-modal__field {
  margin-top: 10px;
}
.form-modal__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  text-align: left;
}
.form-modal__wrapper {
  position: relative;
}
.form-modal__policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.form-modal__input {
  width: 100%;
  height: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  padding-right: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #212121;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-modal__input:focus {
  border-color: #2196f3;
  outline: transparent;
}

.form-modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-modal__input:focus + .form-modal__icon {
  fill: #2196f3;
}

.form-modal__textarea {
  height: 120px;
  resize: none;
  padding-left: 16px;
}
.form-modal__textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-modal__textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-modal__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-modal__textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-modal__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.policy-field__label {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .policy-field__label {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}
.policy-field__icon {
  fill: currentColor;
  stroke: currentColor;
}

.policy-field__link {
  position: relative;
  text-decoration: none;
  color: #2196f3;
}
.policy-field__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 85%;
  left: 0;
  background-color: #2196f3;
}

.policy-field__wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  background-color: transparent;
  color: transparent;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.policy-field__input:checked + .policy-field__wrapper {
  border: none;
  background-color: #2196f3;
  color: #ffffff;
}

.form-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:hover, .form-button:focus {
  background-color: #188ce8;
  border-color: #188ce8;
}

@media screen and (max-width: 1199.98px) {
  .subscription {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription {
    margin-left: 93px;
    padding-top: 12px;
  }
}

.form-subscription {
  width: 100%;
  height: 156px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1199.98px) {
  .form-subscription {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .form-subscription {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 570px;
    height: 86px;
  }
}
.form-subscription__field {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .form-subscription__field {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .form-subscription__field {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}
.form-subscription__label {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (max-width: 1199.98px) {
  .form-subscription__label {
    text-align: center;
  }
}

.form-subscription__input {
  width: 100%;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-subscription__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.form-subscription__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.form-subscription__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.form-subscription__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.form-subscription__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.form-subscription__input:focus {
  color: #ffffff;
  border-color: #ffffff;
  outline: transparent;
}

.form-button__icon {
  margin-left: 12px;
}
@media screen and (min-width: 1200px) {
  .form-button__icon {
    margin-left: 10px;
  }
}/*# sourceMappingURL=main.css.map */