.activities {
  @media screen and (max-width: 1199.98px) {
    display: none;
  }

  &__title {
    @extend %sectionTitle;
  }

  &__list {
    display: flex;
    margin-left: -30px;
  }

  &__item {
    position: relative;
    width: calc((100% - 3 * 30px) / 3);
    margin-left: 30px;
  }
}

.item-activities {
  &__meta {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    background-color: $activitiesBackgroundColor;
  }

  &__title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: $primaryWhiteColor;
  }
}
