.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition: opacity 250ms $cubicBezier, visibility 250ms $cubicBezier;
  background-color: $backdropBackgroundColor;

  z-index: 1;
  overflow-y: scroll;

  &--hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.modal {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;

  transform: scale(1);
  transition: transform 250ms $cubicBezier;

  border-radius: 4px;
  background-color: $primaryWhiteColor;
  box-shadow: $modalBoxShadow;
  border-radius: 4px;

  @media screen and (min-width: 960px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms $cubicBezier;
  }

  @media screen and (max-width: 1199.98px) {
    max-width: 450px;
    width: 100%;
    min-height: 609px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 528px;
    width: 100%;
    min-height: 581px;
  }

  .backdrop--hidden & {
    transform: scale(0.8);

    @media screen and (min-width: 960px) {
      transform: translate(-50%, -50%) scale(0.8);
    }
  }
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  border-color: $modalButtonBorder;
  color: $primaryBlackColor;
  background-color: $primaryWhiteColor;
  transition: color 250ms $cubicBezier;

  &:hover,
  &:focus {
    color: $accentColor;
  }

  &__icon {
    fill: currentColor;
  }
}
