.user-data {
  display: block;
  width: 448px;

  &__text {
    display: block;
    margin-bottom: 12px;

    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.03em;
    text-align: center;

    color: $primaryTitleColor;
  }
}

.form-modal {
  &__field {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__field + &__field {
    margin-top: 10px;
  }

  &__label {
    margin-bottom: 4px;

    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    text-align: left;
  }

  &__wrapper {
    position: relative;
  }

  &__policy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 20px;
  }
}

.form-modal__input {
  width: 100%;
  height: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  padding-right: 16px;

  border: 1px solid $primaryInputBorder;
  border-radius: 4px;
  background-color: $primaryWhiteColor;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: $primaryTitleColor;
  transition: border-color 250ms $cubicBezier;

  &:focus {
    border-color: $accentColor;
    outline: transparent;
  }
}

.form-modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  fill: $primaryTitleColor;
  transition: fill 250ms $cubicBezier;

  .form-modal__input:focus + & {
    fill: $accentColor;
  }
}

.form-modal__textarea {
  height: 120px;
  resize: none;
  padding-left: 16px;

  &::placeholder {
    color: $placeholderColor;
  }
}

.policy-field {
  &__label {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
  }

  &__icon {
    fill: currentColor;
    stroke: currentColor;
  }
}

.policy-field__link {
  position: relative;
  text-decoration: none;
  color: $accentColor;

  &::after {
    content: "";
    display: block;
    width: 112px;
    height: 1px;
    position: absolute;
    top: 85%;
    left: 0;

    background-color: $accentColor;
  }
}

.policy-field__wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;

  background-color: transparent;
  color: transparent;
  border: 2px solid $primaryTitleColor;
  border-radius: 4px;
  transition: color 250ms $cubicBezier, background-color 250ms $cubicBezier,
    border-color 250ms $cubicBezier;

  .policy-field__input:checked + & {
    border: none;
    background-color: $accentColor;
    color: $primaryWhiteColor;
  }
}

.form-button {
  display: inline-flex;
  min-width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  color: $primaryWhiteColor;
  background-color: $accentColor;
  border-color: $accentColor;
  box-shadow: $formButtonShadow;
  transition: background-color 250ms $cubicBezier,
    border-color 250ms $cubicBezier;

  &:hover,
  &:focus {
    background-color: $formButtonColor;
    border-color: $formButtonColor;
  }
}
