.subscription {
  // margin-left: 93px;
  // padding-top: 12px;
}

.form-subscription {
  // display: flex;
  // align-items: flex-end;
  // width: 570px;
  // height: 86px;

  &__field {
    // width: 358px;
    // margin-right: 12px;
  }

  &__label {
    // display: block;
    // margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    color: $primaryWhiteColor;
  }
}

.form-subscription__input {
  // width: 100%;
  // height: 50px;
  // padding-top: 15px;
  // padding-bottom: 15px;
  // padding-left: 16px;
  // padding-right: 16px;

  border: 1px solid $secondaryInputBorder;
  border-radius: 4px;
  background-color: transparent;

  font-size: 16px;
  line-height: calc(20 / 16);
  color: $secondaryTextColor;
  transition: color 250ms $cubicBezier, border-color 250ms $cubicBezier;

  &::placeholder {
    font-size: 16px;
    line-height: calc(20 / 16);
    color: $secondaryTextColor;
  }

  &:focus {
    color: $primaryWhiteColor;
    border-color: $primaryWhiteColor;
    outline: transparent;
  }
}

.form-button__icon {
  // margin-left: 10px;
}
