.hero {
  // padding-top: 200px;
  // padding-bottom: 200px;
  // max-width: 1600px;
  // height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-desktop@1x.jpg");
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  text-align: center;

  &__title {
    // display: block;
    // max-width: 696px;
    // margin-left: auto;
    // margin-right: auto;
    // margin-bottom: 30px;
  
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  
    color: $primaryWhiteColor;
  }
}

.hero-button {
  // min-width: 216px;
  // padding-top: 10px;
  // padding-bottom: 10px;
  // padding-left: 32px;
  // padding-right: 32px;

  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: $primaryWhiteColor;
  background-color: $accentColor;
  box-shadow: $heroButtonShadow;
}
