.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $extraBackgroundColor;

  &__wrapper {
    @media screen and (min-width: 768px) {
      display: flex;
    }

    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}

.footer__logo {
  display: block;
  margin-bottom: 28px;

  @media screen and (max-width: 1199.98px) {
    text-align: center;
  }

  &--inverse {
    color: $primaryWhiteColor;
  }
}

.address__list {
  @media screen and (max-width: 1199.98px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.address__item {
  width: 232px;

  @media screen and (max-width: 1199.98px) {
    text-align: center;
  }
  
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.address__link {
  font-style: normal;
  font-size: 14px;
  line-height: calc(16 / 14);

  color: $secondaryTextColor;
  transition: color 250ms $cubicBezier;

  &--inverse {
    color: $primaryWhiteColor;
  }

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.join {
  @media screen and (max-width: 1199.98px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (max-width: 767.98px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    padding-top: 12px;
  }

  &__text {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $primaryWhiteColor;
  }
}

.soc-join {
  display: flex;

  &__item + &__item {
    margin-left: 10px;
  }

  &__icon {
    fill: currentColor;
  }
}

.soc-join__link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  align-items: center;
  justify-content: center;

  color: $primaryWhiteColor;
  background-color: $iconBackgroundColor;
  transition: background-color 250ms $cubicBezier;

  &:hover,
  &:focus {
    background-color: $accentColor;
  }
}
