.header {
  border-bottom: 1px solid $headerBorder;

  &__wrapper {
    // display: flex;
    // align-items: center;
  }
}

.header__logo {
  // padding-top: 24px;
  // padding-bottom: 25px;

  &--inverse {
    // padding-top: 24px;
    // padding-bottom: 25px;

    color: $primaryBlackColor;
  }
}

.nav {
  &__list {
    // display: flex;
    // margin-left: 93px;
  }

  &__item + &__item {
    // margin-left: 50px;
  }
}

.contacts {
  // display: flex;
  // margin-left: auto;

  &__item + &__item {
    // margin-left: 50px;
  }

  &__icon {
    // margin-right: 10px;
    fill: currentColor;
  }
}

.nav__link {
  @extend %headerLink;
  color: $primaryTitleColor;
  transition: color 250ms $cubicBezier;

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.contacts__link {
  @extend %headerLink;
  color: inherit;
  transition: color 250ms $cubicBezier;

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.nav__link--current {
  position: relative;
  color: $accentColor;

  @media screen and (min-width: 768px) {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      transform: translateY(1px);
  
      border-radius: 2px;
      background-color: $accentColor;
    }
  }
}
