.portfolio {
  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }
}

.portfolio__item {
  @media screen and (max-width: 767.98px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 6 * 15px) / 3);
  }
}

.item-portfolio__link {
  display: block;
  width: 100%;
  height: 100%;

  box-shadow: none;
  transition: box-shadow 250ms $cubicBezier;

  &:hover,
  &:focus {
    box-shadow: $portfolioCardShadow;
  }
}

.item-portfolio {
  &__wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  &__desc {
    padding: 24px;

    font-size: 18px;
    line-height: calc(28 / 18);
    color: $primaryWhiteColor;
  }

  &__meta {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;

    background-color: $primaryWhiteColor;
    border-bottom: 1px solid $portfolioCardBorder;
    border-left: 1px solid $portfolioCardBorder;
    border-right: 1px solid $portfolioCardBorder;

    @media screen and (min-width: 480px) {
      height: 110px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
      height: 146px;
    }
  }

  &__title {
    margin-bottom: 4px;

    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: $primaryTitleColor;
  }

  &__text {
    font-size: 16px;
    line-height: calc(30 / 16);
    color: $primaryTextColor;
  }
}

.item-portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  transform: translateY(100%);
  transition: transform 250ms $cubicBezier;
  background-color: $overlayBackgroundColor;

  .item-portfolio__link:hover &,
  .item-portfolio__link:focus & {
    transform: translateY(0);
  }
}
