.button-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  row-gap: 7.5px;
  column-gap: 8px;
  margin-bottom: 40px;
 
  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    justify-content: center;

    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.button-set::before {
  @media screen and (max-width: 767.98px) {
  content: '';
  width: 100%;
  order: 1;
  }
}

.button-set__item:nth-child(n + 4) {
  @media screen and (max-width: 767.98px) {
  order: 1;
  }
}

.portfolio-button {
  min-width: 67px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;

  font-weight: 500;
  line-height: calc(26 / 16);
  transition: color 250ms $cubicBezier, background-color 250ms $cubicBezier,
    border-color 250ms $cubicBezier, box-shadow 250ms $cubicBezier;

  &:hover,
  &:focus {
    color: $primaryWhiteColor;
    background-color: $accentColor;
    border-color: $accentColor;
    box-shadow: $portfolioButtonShadow;
  }

  &--current {
    color: $primaryWhiteColor;
    background-color: $accentColor;
    border-color: $accentColor;
  }
}
