.team {
  @media screen and (max-width: 1199.98px) {
    background-color: $secondaryBackgroundColor;
  }

  &__title {
    @extend %sectionTitle;
  }

  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }
}

.team__item {
  background-color: $primaryWhiteColor;
  box-shadow: $teamCardShadow;
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767.98px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 8 * 15px) / 4);
  }
}

.item-team {
  &__meta {
    padding-top: 30px;
    padding-bottom: 24px;

    text-align: center;

    @media screen and (min-width: 1200px) {
      padding-bottom: 30px;
    }
  }

  &__title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    color: $primaryTitleColor;
  }

  &__text {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: calc(19 / 16);
  }
}

.soc-team {
  display: flex;
  justify-content: center;

  &__item + &__item {
    margin-left: 10px;
  }

  &__icon {
    fill: currentColor;
  }
}

.soc-team__link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  color: $iconColor;
  background-color: $primaryWhiteColor;
  transition: color 250ms $cubicBezier, background-color 250ms $cubicBezier;

  &:hover,
  &:focus {
    color: $primaryWhiteColor;
    background-color: $accentColor;
  }
}
