body {
  font-family: $primaryFont;
  letter-spacing: 0.03em;

  color: $primaryTextColor;
  background-color: $primaryWhiteColor;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--inverse {
  padding-top: 0;
}

.button {
  font-family: inherit;
  font-size: 16px;
  letter-spacing: inherit;
  text-align: center;

  color: $primaryTitleColor;
  background-color: $secondaryBackgroundColor;
  border: 1px solid transparent;
  border-radius: 4px;

  cursor: pointer;
}
