%headerLink {
  // display: inline-flex;
  // align-items: center;

  // padding-top: 32px;
  // padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

%sectionTitle {
  // margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: $primaryTitleColor;
}
