$primaryFont: "Roboto", "Helvetica", "Arial", "Segoe UI", sans-serif;
$secondaryFont: "Raleway", "Helvetica", "Arial", "Segoe UI", sans-serif;
$primaryTitleColor: #212121;
$primaryTextColor: #757575;
$secondaryTextColor: rgba(255, 255, 255, 0.6);
$accentColor: #2196f3;
$primaryWhiteColor: #ffffff;
$primaryBlackColor: #000000;
$secondaryBackgroundColor: #f5f4fa;
$extraBackgroundColor: #2f303a;
$cubicBezier: cubic-bezier(0.4, 0, 0.2, 1);
$headerBorder: #ececec;
$heroButtonShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$teamCardShadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$activitiesBackgroundColor: rgba(47, 48, 58, 0.8);
$companyCardBorder: #afb1b8;
$iconColor: #afb1b8;
$iconBackgroundColor: rgba(255, 255, 255, 0.1);
$portfolioCardBorder: #eeeeee;
$portfolioCardShadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
$portfolioButtonShadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
$overlayBackgroundColor: rgba(33, 150, 243, 0.9);
$backdropBackgroundColor: rgba(0, 0, 0, 0.2);
$modalBoxShadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$modalButtonBorder: rgba(0, 0, 0, 0.1);
$primaryInputBorder: rgba(33, 33, 33, 0.2);
$secondaryInputBorder: rgba(255, 255, 255, 0.3);
$placeholderColor: rgba(117, 117, 117, 0.5);
$formButtonColor: #188ce8;
$formButtonShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
